## 9.1  Introduction: Transforming Sequences
---
mengubah urutan atau **Sequences** 
###Learning Goals
- memahami tipe data yang dapat dirubah dan tidak dapat dirubah
- memahami bagaimana membuat string baru dari string yang telah ada dan tidak merubahnya

###Objectives
1. concatenate
2. index operator
3. substring (slice)
4. search - contains in / not in and index
5. find method
6. append
7. join
8. split
9. string format method

## 9.2. Mutability
---
terdapat beberapa tipe data dalam Python seperti strings dan list yang dapat diubah (mutate) dan tidak dapat diubah

- List = dapat diubah
- Strings = Tidak dapat diubah
- Tuples = Tidak dapat diubah

In [1]:
fruit = ["banana", "apple", "cherry"]
print(fruit)

fruit[0] = "pear"
fruit[-1] = "orange"
print(fruit)

['banana', 'apple', 'cherry']
['pear', 'apple', 'orange']

In [2]:
alist = ['a', 'b', 'c', 'd', 'e', 'f']
alist[1:3] = ['x', 'y'] #menambahkan elemen ke list yang telah ada
print(alist)

['a', 'x', 'y', 'd', 'e', 'f']

In [3]:
alist = ['a', 'b', 'c', 'd', 'e', 'f']
alist[1:3] = [] #menghapus elemen list
print(alist)

['a', 'd', 'e', 'f']

In [5]:
alist = ['a', 'd', 'f']
alist[1:1] = ['b', 'c'] #slicing
print(alist)
alist[4:4] = ['e'] #slicing
print(alist)

['a', 'b', 'c', 'd', 'f']
['a', 'b', 'c', 'd', 'e', 'f']

In [6]:
greeting = "Hello, world!"
greeting[0] = 'J' # ERROR karena strings tidak dapat diubah
print(greeting)

TypeError: 'str' object does not support item assignment

In [7]:
greeting = "Hello, world!"
newGreeting = 'J' + greeting[1:]
print(newGreeting)
print(greeting)          #akan tetap sama

Jello, world!
Hello, world!

In [8]:
phrase = "many moons"
phrase_expanded = phrase + " and many stars"
phrase_larger = phrase_expanded + " litter"
phrase_complete = "M" + phrase_larger[1:] + " the night sky."
excited_phrase_complete = phrase_complete[:-1] + "!"

In [9]:
alist = [4,2,8,6,5]
alist[2] = True
print(alist)

[4, 2, True, 6, 5]

In [10]:
s = "Ball"
s[0] = "C"
print(s)

TypeError: 'str' object does not support item assignment

## 9.3. List Element Deletion
---
menghapus elemen dalam list dengan menggunakan del

In [11]:
a = ['one', 'two', 'three']
del a[1]
print(a)

alist = ['a', 'b', 'c', 'd', 'e', 'f']
del alist[1:5]
print(alist)

['one', 'three']
['a', 'f']

## 9.4. Objects and References
---

In [12]:
a = "banana"
b = "banana"

print(a is b) #apakah a dan b objek yang sama

True

In [13]:
a = "banana"
b = "banana"

print(id(a)) #kode unik setiap objek
print(id(b))

2153194632624
2153194632624

In [14]:
a = [81,82,83]
b = [81,82,83]

print(a is b) #apakah a adalah b

print(a == b)

print(id(a))
print(id(b))

False
True
2153194590080
2153194401408

## 9.5. Aliasing
---

In [16]:
a = [81, 82, 83]
b = a
print(a is b)

True

In [17]:
a = [81,82,83]
b = [81,82,83]
print(a is b)

b = a
print(a == b)
print(a is b)

b[0] = 5
print(a)

False
True
True
[5, 82, 83]

In [19]:
w = ['Jamboree', 'get-together', 'party']
y = ['celebration']
y = w

print(y)

['Jamboree', 'get-together', 'party']

In [20]:
alist = [4,2,8,6,5]
blist = alist
blist[3] = 999
print(alist)

[4, 2, 8, 999, 5]